/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

/* Estilos do cabeçalho */
header {
  background: linear-gradient(180deg, #204540, #778e77);
  color: #fff;
  text-align: center;
  padding: 30px 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
}

/* Estilos da galeria */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.gallery-items {
  flex: 0 0 calc(33.33% - 20px);
  border: 5px solid #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.gallery-items:hover {
  transform: scale(1.05);
}

.gallery-items:hover img {
  opacity: 0.8;
}

/* Estilos do rodapé */
footer {
  background-color: #204540;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 5px 0;
}

footer h5 {
  font-size: 18px;
}










/* Media query para telas menores */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  .gallery-items {
    flex: 0 0 calc(50% - 20px);
  }

  footer {
    font-size: 14px;
  }
}




  