/* grid styles ------------------------------------ */
@media (min-width: 600px) {
    main {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      justify-content: center;
      text-align: center;
      grid-row: span 1;
    }
  
    .info1 {
       grid-row: span 1;
    }
    
    .info2 {
      grid-row: span 1;
      justify-content: center;
      align-items: center;
    }
    
    .figure1 {
      grid-row: span 2;
    }
    .figure6 {
      grid-row: span 2;
    }
    .figure7 {
      grid-row: span 3;
    }

    .figure8 {
      grid-row: span 3;
    }

    .figure9 {
      grid-row: span 1;
    }

    .figure10 {
      grid-row: span 1;
    }
    .figure11 {
      grid-row: span 2;
    }
    .figure12 {
      grid-row: span 2;
    }
    .figure13 {
      grid-row: span 3;
    }

    .figure14 {
      grid-row: span 3;
    }


  }
  
  /* flex styles -------------------------------------- */
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  /* generic styles ----------------------------------- */
  body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
  }
  
  header {
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .logo-img {
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 60px;
    transform: scaleX(-1);
  }
  
  .logo-text {
    justify-content: center;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2.6em;
    color: #204540;;
    text-shadow:
     -1px -1px 0 #615655,  
      1px -1px 0 #615655,
      -1px 1px 0 #615655,
       1px 1px 0 #615655;
  }
  
  .figure-img {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .info1, .info2 {
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #204540;;
    color: white;
  }
  
  h2 {
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  p {
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  
  .info-link {
    text-decoration: none;
    color: #204540;
  }
  